
Final_validation_for_paper/truth_5_Tiger_jacc-17.381228273464657.csv
Final_validation_for_paper/truth_5_QL_jacc-17.381228273464657_USE.csv
Final_validation_for_paper/truth_5_Mat_jacc-17.381228273464657.csv
Final_validation_for_paper/truth_5_final_fibersTiger_jacc-17.381228273464657.pkl
Final_validation_for_paper/truth_5_final_fibersQL_jacc-17.381228273464657.pkl
Final_validation_for_paper/truth_5_final_fibersMat_jacc-17.381228273464657.pkl
Final_validation_for_paper/truth_5_final_fibersDaryan_jacc-17.381228273464657.pkl
Final_validation_for_paper/truth_5_Daryan_jacc-17.381228273464657.csv
Final_validation_for_paper/Rotated Fiber Training.png
Final_validation_for_paper/Dot-plot.png
Final_validation_for_paper/38) 301000 - lower thesh DAPI/Analyze/masked_out_dil_uFNet-03_2_s05z5c1+2+3_0.xlsx
Final_validation_for_paper/38) 301000 - lower thesh DAPI/Analyze/masked_out_dil_uFNet-03_2_s05z5c1+2+3_0.csv
Final_validation_for_paper/38) 301000 - lower thesh DAPI/Analyze/final_jacc_fibers0.pkl
Final_validation_for_paper/38) 301000 - lower thesh DAPI/Analyze/final_image_uFNet-03_2_s05z5c1+2+3_0.tif
Final_validation_for_paper/38) 301000 - lower thesh DAPI/Analyze/DAPI_ensheathed_second0.tif
Final_validation_for_paper/38) 301000 - lower thesh DAPI/Analyze/DAPI_ensheathed0.pkl
Final_validation_for_paper/38) 301000 - lower thesh DAPI/Analyze/candidates0_uFNet-03_2_s05z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/38) 301000 - lower thesh DAPI/Analyze/all_fibers_uFNet-03_2_s05z5c1+2+3_0.pkl
Final_validation_for_paper/38) 301000 - lower thesh DAPI/Analyze/all_fibers_image_uFNet-03_2_s05z5c1+2+3_0.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s55z5c1+2+3_19.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s54z5c1+2+3_18.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s53z5c1+2+3_17.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s52z5c1+2+3_16.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s51z5c1+2+3_15.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s45z5c1+2+3_14.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s44z5c1+2+3_13.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s43z5c1+2+3_12.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s42z5c1+2+3_11.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s41z5c1+2+3_10.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s25z5c1+2+3_9.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s24z5c1+2+3_8.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s23z5c1+2+3_7.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s22z5c1+2+3_6.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s21z5c1+2+3_5.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s15z5c1+2+3_4.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s14z5c1+2+3_3.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s13z5c1+2+3_2.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s12z5c1+2+3_1.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/masked_out_dil_uFNet-03_2_s11z5c1+2+3_0.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers9.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers8.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers7.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers6.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers5.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers4.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers3.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers2.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers19.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers18.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers17.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers16.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers15.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers14.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers13.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers12.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers11.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers10.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers1.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_jacc_fibers0.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s55z5c1+2+3_19.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s54z5c1+2+3_18.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s53z5c1+2+3_17.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s52z5c1+2+3_16.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s51z5c1+2+3_15.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s45z5c1+2+3_14.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s44z5c1+2+3_13.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s43z5c1+2+3_12.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s42z5c1+2+3_11.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s41z5c1+2+3_10.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s25z5c1+2+3_9.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s24z5c1+2+3_8.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s23z5c1+2+3_7.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s22z5c1+2+3_6.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s21z5c1+2+3_5.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s15z5c1+2+3_4.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s14z5c1+2+3_3.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s13z5c1+2+3_2.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s12z5c1+2+3_1.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/final_image_uFNet-03_2_s11z5c1+2+3_0.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed9.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed8.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed7.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed6.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed5.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed4.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed3.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed2.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed19.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed18.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed17.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed16.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed15.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed14.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed13.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed12.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed11.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed10.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed1.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/DAPI_ensheathed0.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s55z5c1+2+3_19.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s54z5c1+2+3_18.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s53z5c1+2+3_17.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s52z5c1+2+3_16.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s51z5c1+2+3_15.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s45z5c1+2+3_14.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s44z5c1+2+3_13.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s43z5c1+2+3_12.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s42z5c1+2+3_11.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s41z5c1+2+3_10.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s25z5c1+2+3_9.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s24z5c1+2+3_8.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s23z5c1+2+3_7.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s22z5c1+2+3_6.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s21z5c1+2+3_5.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s15z5c1+2+3_4.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s14z5c1+2+3_3.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s13z5c1+2+3_2.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s12z5c1+2+3_1.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/CSVs/masked_out_dil_uFNet-03_2_s11z5c1+2+3_0.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates9_uFNet-03_2_s25z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates8_uFNet-03_2_s24z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates7_uFNet-03_2_s23z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates6_uFNet-03_2_s22z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates5_uFNet-03_2_s21z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates4_uFNet-03_2_s15z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates3_uFNet-03_2_s14z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates2_uFNet-03_2_s13z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates1_uFNet-03_2_s12z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates19_uFNet-03_2_s55z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates18_uFNet-03_2_s54z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates17_uFNet-03_2_s53z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates16_uFNet-03_2_s52z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates15_uFNet-03_2_s51z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates14_uFNet-03_2_s45z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates13_uFNet-03_2_s44z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates12_uFNet-03_2_s43z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates11_uFNet-03_2_s42z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates10_uFNet-03_2_s41z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/candidates0_uFNet-03_2_s11z5c1+2+3.tif_Z_PROJECT_only_4.tif.tif
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s55z5c1+2+3_19.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s54z5c1+2+3_18.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s53z5c1+2+3_17.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s52z5c1+2+3_16.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s51z5c1+2+3_15.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s45z5c1+2+3_14.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s44z5c1+2+3_13.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s43z5c1+2+3_12.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s42z5c1+2+3_11.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s41z5c1+2+3_10.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s25z5c1+2+3_9.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s24z5c1+2+3_8.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s23z5c1+2+3_7.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s22z5c1+2+3_6.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s21z5c1+2+3_5.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s15z5c1+2+3_4.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s14z5c1+2+3_3.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s13z5c1+2+3_2.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s12z5c1+2+3_1.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_uFNet-03_2_s11z5c1+2+3_0.pkl
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s55z5c1+2+3_19.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s54z5c1+2+3_18.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s53z5c1+2+3_17.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s52z5c1+2+3_16.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s51z5c1+2+3_15.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s45z5c1+2+3_14.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s44z5c1+2+3_13.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s43z5c1+2+3_12.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s42z5c1+2+3_11.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s41z5c1+2+3_10.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s25z5c1+2+3_9.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s24z5c1+2+3_8.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s23z5c1+2+3_7.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s22z5c1+2+3_6.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s21z5c1+2+3_5.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s15z5c1+2+3_4.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s14z5c1+2+3_3.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s13z5c1+2+3_2.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s12z5c1+2+3_1.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/uFNet-03_Laminin_PDL/all_fibers_image_uFNet-03_2_s11z5c1+2+3_0.png
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/Results_masked_out_dil_uFNet-03_2_s11z5c1+2+3_0_num_sheaths.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/Results_masked_out_dil_uFNet-03_2_s11z5c1+2+3_0_mFLC.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/Results_masked_out_dil_uFNet-03_2_s11z5c1+2+3_0_lengths.csv
Final_validation_for_paper/36) PDL-Laminin low thresh DAPI/Results_masked_out_dil_uFNet-03_2_s11z5c1+2+3_0_cells.csv
*.csv
*.csv
Combined_masked_out_dil_Human Well A1 - C2-Extended Depth of Focus-04_s01_0.csv
cellsCombined_masked_out_dil_Human Well A1 - C2-Extended Depth of Focus-04_s01_0.csv
*.pkl
*.png
Final_validation_for_paper
Exclude
