CNN-UNet/Results/Demo-data/all_fibers_Composite-12_0.pkl
CNN-UNet/Results/Demo-data*

Heuristic_algorithm/200x*
Heuristic_algorithm/Annick_Barron-Data*
Heuristic_algorithm/Annick_*
Heuristic_algorithm/Demo-data_Result*
Heuristic_algorithm/n1*

Heuristic_algorithm/n2*
Heuristic_algorithm/n3*

Heuristic_algorithm/Human*
Heuristic_algorithm/stack - 727*

Heuristic_algorithm/small*
Heuristic_algorithm/Separated stacks*

Heuristic_algorithm/HA*
Heuristic_algorithm/Daryan*
Heuristic_algorithm/Daryan*

CNN-UNet/Results/Demo-data_output*
CNN-UNet/Test
CNN-UNet/Checkpoints/Trained with heuristic/loss_global_val.pkl
CNN-UNet/Checkpoints/Trained with heuristic/loss_global.pkl
CNN-UNet/Checkpoints/Trained with heuristic/jaccard_val.pkl
CNN-UNet/Checkpoints/Trained with heuristic/jaccard.pkl
CNN-UNet/Checkpoints/Trained with heuristic/check_785000.meta
CNN-UNet/Checkpoints/Trained with heuristic/check_785000.index
CNN-UNet/Checkpoints/Trained with heuristic/check_785000.data-00000-of-00001
CNN-UNet/Checkpoints/Trained with heuristic/check_301000.meta
CNN-UNet/Checkpoints/Trained with heuristic/check_301000.index
CNN-UNet/Checkpoints/Trained with heuristic/check_301000.data-00000-of-00001
CNN-UNet/Checkpoints/loss_global_val.pkl
CNN-UNet/Checkpoints/loss_global.pkl
CNN-UNet/Checkpoints/jaccard_val.pkl
CNN-UNet/Checkpoints/jaccard.pkl
CNN-UNet/Checkpoints/check_577000.meta
CNN-UNet/Checkpoints/check_577000.index
CNN-UNet/Checkpoints/check_577000.data-00000-of-00001
CNN-UNet/Checkpoints/check_470000.meta
CNN-UNet/Checkpoints/check_470000.index
CNN-UNet/Checkpoints/check_470000.data-00000-of-00001
CNN-UNet/Checkpoints/check_452000.meta
CNN-UNet/Checkpoints/check_452000.index
CNN-UNet/Checkpoints/check_452000.data-00000-of-00001
CNN-UNet/Checkpoints/check_359000.meta
CNN-UNet/Checkpoints/check_359000.index
CNN-UNet/Checkpoints/check_359000.data-00000-of-00001
CNN-UNet/Checkpoints/check_350000.meta
CNN-UNet/Checkpoints/check_350000.index
CNN-UNet/Checkpoints/check_350000.data-00000-of-00001
CNN-UNet/Checkpoints/check_470000.meta
CNN-UNet/Checkpoints/check_470000.index
CNN-UNet/Checkpoints/check_470000.data-00000-of-00001
